<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Inserisci Prenotazione</title>
  <script>
    function showAlert(message) {
        alert(message);
    }
  </script>
  <link rel="stylesheet" type="text/css" href="/static/nuovaPrenotazioneStyle.css">
</head>
<body>
<h1>Inserisci Prenotazione</h1>

<!-- Alert per messaggio di errore -->
<div th:if="${errore}" th:attr="onload=|showAlert('${errore}')|"></div>

<form action="/nuovaPrenotazione" method="POST">
  <label for="nomeCliente">Nome Cliente:</label>
  <input type="text" id="nomeCliente" name="nomeCliente" placeholder="Inserisci il nome del cliente" required>

  <label for="numeroCani">Numero Cani:</label>
  <input type="number" id="numeroCani" name="numeroCani" min="1" placeholder="Inserisci il numero di cani" required>

  <label for="dataInizio">Data Inizio:</label>
  <input type="date" id="dataInizio" name="dataInizio" required>

  <label for="dataFine">Data Fine:</label>
  <input type="date" id="dataFine" name="dataFine" required>

  <button type="submit">Salva Prenotazione</button>
</form>
</body>
</html>
